<div class="container page-container">

	<div class="panel panel-primary app-panel">
		<div class="panel-heading">
			<h2>Please Choose your exam</h2>
		</div>

		<div class="panel-body">
			<div class="col-md-12">
				<div class="col-md-6" style="padding:5%;" ng-click="selectExam('frm')">
					<img src="img/frm.png" alt="FRM" class="img-responsive" style="margin: 0 auto;"/>
					<div class="text-center"><h1>FRM</h1></div>
					<div class="text-center"><p>Financial Risk Manager</p></div>
				</div>

				<div class="col-md-6" style="padding:5%;" class="text-center" ng-click="selectExam('erp')">
					<img src="img/erp.png" alt="ERP" class="img-responsive" style="margin: 0 auto;"/>
					<div class="text-center"><h1>ERP</h1></div>
					<div class="text-center"><p>Energy Risk Professional</p></div>
				</div>

			</div>

		</div>
	</div>


</div>