<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div> 

<div class="panel panel-primary app-panel">
	<div class="panel-heading">
		<h1>Please Choose your exam</h1>
	</div>

	<div class="panel-body">

		<div ng-click="selectExam('erp')">
			<img src="img/erp.png" alt="erp" style="height: 100px; width: auto; margin-bottom: 120px; margin-top: 75px; margin-left: 50px;" />
		</div>

		<div ng-click="selectExam('frm')">
			<img src="img/frm.png" alt="frm" style="height: 100px; width: auto; margin-bottom: 120px; margin-top: 75px; margin-left: 50px;" />
		</div>



	</div>
</div>