<div class="panel panel-primary">
    <div class="panel-heading">Filter Instructions</div>
    <div class="panel-body">

        <p>Read the following selections. As you go mark each one as 
            <button class="readings-sample-btn">
                <span class="glyphicon glyphicon-check"></span>
                <span>Done</span>
            </button>. 
            If you are having trouble you may 
            <button class="readings-sample-btn">
                <span class="glyphicon glyphicon-flag"></span> 
                <span>Flag</span>
            </button> 
            items or add 
            <button class="readings-sample-btn"> 
                <span class="glyphicon glyphicon-list-alt"></span> 
                <span>Notes</span>
            </button>.
        </p>

    </div>
</div>