<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>    

<div class="container page-container">
  <div class="row">
    <div class="col-md-12 ">
      <div>
        <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">



      <ul class="list-group">        
        <li ng-repeat="term in glossaryData | filter:searchTerms" class="list-group-item">
          <h3>{{term.term}}</h3>
          <span>{{term.definition}}</span>
        </li>       
      </ul>         






    </div>
  </div>
</div>

<div ng-include="'partials/frm-navFooter.html'"></div>

<div ng-include="'partials/frm-notes.html'"></div>