<div class="panel panel-primary app-panel">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-flag"></span> 
        <span class="panel-title">Flagged Items</span>
    </div>
    <div class="panel-body nopadding">

        <ul class="list-group list-group nopadding">


            <li class="list-group-item" ng-repeat="reading in allReadings | filter:flaggedMatch()" class="">

                <div class="reading-item">
                    <div class="icon-area">
                        <div class="icon"><span class="glyphicon glyphicon-book"></span>
                        </div>
                    </div>
                    <div class="info">
                        <p><span ng-if="reading.desc">{{reading.desc}}</span></p>
                    </div>
                    <div class="remove">
                        <a href ng-click="removeFlag(reading.id)"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
