    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FRM Study App <span ng-if="innerWidth < 995 && innerWidth > 400"> - {{currentMenuItem}}</span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="mainnav-dashboard" ng-class="{ active: isActive('/dash')}" ><a href ng-click="changeView('dash')">Dashboard</a></li>
            <li id="mainnav-readings" ng-class="{ active: isActive('/readings')}"><a href ng-click="changeView('readings')">Readings</a></li>
            <li id="mainnav-tests" ng-class="{ active: isActive('/examsettings')}"><a href ng-click="changeView('examsettings')">Tests</a></li>
            <li id="mainnav-messages" ng-class="{ active: isActive('/messages')}"><a href ng-click="changeView('messages')">Messages</a></li>
            <li id="mainnav-examday" ng-class="{ active: isActive('/examday')}"><a href ng-click="changeView('examday')">Exam Day</a></li>
            </li>
          </ul>
           <form ng-if="currentMenuItem != 'Glossary'" class="navbar-form navbar-left" role="search" ng-submit="searchGlossary(searchTerms)">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search">
            </div>
            <span ng-click="searchGlossary(searchTerms)" class="glyphicon glyphicon-search"></span>
            <input type="submit" style="display:none"/>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#contact">Resources</a></li>
                <li><a href="#contact">Tutorial</a></li>
                <li class="divider"></li>
                <li><a href="#myaccount">My Account</a></li>
                <li><a href="#login">Logout</a></li>
              </ul>
            </li>		  
		  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
