
<div class="daysarea" onclick="document.location.hash = '#/examday';">
	<div class="daysleft">
		<h3>Exam day details</h3>
		<span>29</span> <span>day until the exam</span>
	</div>
	<div class="daysright">
		<h1>></h1>
	</div>
</div>

<div class="flagtestarea">

	<div class="flagarea workhead"  ng-click="gotoFlagged()">
		<h3>Flagged Items</h3>
		<span class="glyphicon glyphicon-flag"></span>
	</div>
	<div class="testarea workhead" onclick="document.location.hash = '#/examsettings';">
		<h3>Sample Tests</h3>
		<span class="glyphicon glyphicon-play-circle"></span>
		
	</div>

</div>
