<div id="footer" class="nav-footer" ng-controller="FooterNavController">
	<div class="nav-footer-item" onclick="document.location.hash = '#/dash';"><p>Dashboard</p><p><span class="glyphicon glyphicon-tasks nav-footer-item-text"></span></p></div>
	<div class="nav-footer-item" onclick="document.location.hash = '#/readings';"><p>Readings</p><p><span class="glyphicon glyphicon-book nav-footer-item-text"></span></p></div>
	<div class="nav-footer-item" onclick="document.location.hash = '#/examsettings';"><p>Tests</p><p><span class="glyphicon glyphicon-play-circle nav-footer-item-text"></span></p></div>
	<div class="nav-footer-item" onclick="document.location.hash = '#/examday';"><p>Exam Day</p><p><span class="glyphicon glyphicon-calendar nav-footer-item-text"></span></p></div>
</div>
