<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>
	
	
    <div class="container">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="schedulebar-area" ng-include="'partials/frm-schedularbar.html'"></div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	  
		<div class="row">
		  <div class="col-md-6">
			<div class="workhead">
				<h3 class="centerhead">Week {{getSelectedLessonIndex() + 1}} Lessons</h3> {{nhRead}}
			</div>
			<div class="readingscrollregion scrollbar" id="style-2">
				<div class="readings-area" ng-include="'partials/frm-readings-list.html'"></div>
			</div>
		  </div>
		  <div class="col-md-6">
			<div class="daysarea">
				<div class="daysleft">
					<h3>Exam day details</h3>
					<span>29</span> <span>day until the exam</span>
				</div>
				<div class="daysright">
					<h1>></h1>
				</div>
			</div>
			
			<div class="flagtestarea">
			
				<div class="flagarea workhead">
					<h3>Flagged Items</h3>
					<span class="glyphicon glyphicon-flag"></span>
				</div>
				<div class="testarea workhead">
					<h3>Sample Tests</h3>
					<span class="glyphicon glyphicon-play-circle"></span>
					
				</div>
			
			</div>
			
			<div class="messagearea">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">Messages</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Facebook</a></li>
				</ul>				
				<div class="msgscrollregion scrollbar" id="style-2">
					<ul class="list-group">
						<li ng-repeat="message in messages" class="list-group-item">
						
							<div class="msg-header">
								<div  ng-if="message.urgent" class="msg-urgent">
									<div><span class="glyphicon glyphicon-exclamation-sign"></span></div>
								</div>
								<div>
									<div>{{message.subject}}</div>
									<div>{{message.dateTime}}</div>
								</div>
							</div>
							<div ng-if="message.body && isItemClicked($index, selectedMessageArray) == -1" id="more" class="centerhead">
								<span ng-click="itemClicked($index, selectedMessageArray)">more...</span>
							</div>
							<div ng-class="{ 'msg-body-open': isItemClicked($index, selectedMessageArray) > -1 }" class="msg-body-closed">
								<div>{{message.body}}</div>
								<div ng-if="message.attachmentURL">
									<span class="glyphicon glyphicon-book"></span> <span class="sectiontext">{{message.attachmentName}}</span>
								</div>
							</div>
							<div ng-if="message.body && isItemClicked($index, selectedMessageArray) > -1" id="less" class="centerhead">
								<span ng-click="itemClicked($index, selectedMessageArray)">less...</span>
							</div>

						</li>				
					</ul>
				</div>
			</div>
		  </div>
		</div>

    </div> <!-- /container -->


<div ng-include="'partials/frm-notes.html'"></div>