<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>

<div class="container page-container">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary app-panel dashboard">
        <div class="panel-heading exam-question-heading">
          <div>
            <div class="row">
              <div style="float:left;color:black">{{userData.registeredExam.registrations.records[0].Name}}</div>
              <div style="float:right;margin-right:10px;margin-left:10px;color:black;">
                <div ng-click="reTake()" style="float:left;margin-right:30px"><span class="glyphicon glyphicon-pencil"></span> Retake Exam</div>
                <div ng-click="exitExam()" style="float:left;margin-right:10px"><span class="glyphicon glyphicon-share-alt"></span> Exit Exam</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row exam-question-count-row">
            <div class="col-md-6 exam-question-heading-left">
                <span class="exam-question-count">Question {{currentQuestion+1}}:</span>
            </div>
            <div class="col-md-6 exam-question-heading-right">
                <span id="mainnav-dashboard" class=""><a ng-click="returnResults()"> <span class="glyphicon glyphicon-list"></span> Return to Exam Results</a></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="exam-question">
                {{question.question}}
              </div>
              <div style="font-size:30px;font-weight:bold;color:#b0c636;margin-left:auto;margin-right:auto;">
                <div style="float:left;margin-right:20px;">Correct Answer: {{correctAnswer}}</span>
                <div style="float:left;margin-right:20px;">Your Answer: {{answerResponse}}</span>
              </div>
              <div class="exam-question-choices">
                <table class="table table-condensed">
                  <tr ng-repeat="choice in choices">
                    <td class="exam-question-choice">{{choice.id}}.</td>
                    <td class="exam-question-choice-text">{{choice.description}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Note Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{answerResponse}}</h4>
      </div>
      <div class="modal-body">
      	<p ng-if="correctAnswer.length > 0">The correct answer is {{correctAnswer}}</p>
        <div ng-bind-html="getCurrentReason()"></div>
      </div>
      <div class="modal-footer">
      	<div ng-if="currentQuestion == totalQuestions-1">
        	<button type="button" class="btn btn-default" ng-click="nextQuestion()">Finish</button>
      	</div>
      	<div ng-if="currentQuestion < totalQuestions-1">
        	<button type="button" class="btn btn-default"ng-click="nextQuestion()">Next Question</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
