<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>    


<div class="container page-container">
  <div class="row">
    <div class="col-md-8">

      <div class="reading-list-area" ng-include="'partials/frm-readings-list.html'"></div>

    </div>
    <div class="col-md-4">
      <div class="regular" ng-include="'partials/frm-topicPanel-filters.html'"></div>
      <div class="regular" ng-include="'partials/frm-topicPanel.html'"></div>
      
    </div>
  </div>  
</div>


<div ng-include="'partials/frm-navFooter.html'"></div>

<div ng-include="'partials/frm-notes.html'"></div>