<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>    

<div class="container page-container">

  <div class="row">
    <div class="col-md-6 ">
      <div>
        <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search">
      </div>
      <div>
        <ul class="list-group">        
          <li ng-repeat="examSite in examSites | filter:searchTerms" ng-click="selectItem(examSite)" class="list-group-item" ng-class="{examSite.selected : examSiteSelected}">
            <span>{{examSite.Name}}</span>
          </li>       
        </ul>         
      </div>      
    </div>

    <div class="col-md-6 ">
      
      <ul class="list-group">        
          <li class="list-group-item"><b>Selected</b></li>
          <li ng-repeat="examSite in examSites | filter:matchSelected()" class="list-group-item">
            <span>{{examSite.Name}}</span> <a href ng-click="selectItem(examSite)" style="float: right; margin: 10px;"><span class="glyphicon glyphicon-remove"></a>
          </li>       
        </ul>         
    </div>

  </div>

</div>

<div ng-include="'partials/frm-navFooter.html'"></div>

<div ng-include="'partials/frm-notes.html'"></div>