
  <button type="button" class="btn btn-default btn-xs" ng-class="{ 'btn-success': isItemClicked(reading.id, 'done') }" ng-click="itemClicked(reading.id,'done')">
    <span class="nc-icon nc-ic_check_box_48px"></span> <span class="reading-list-button">Done</span>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-class="{ 'btn-success': isItemClicked(reading.id, 'flagged') }" ng-click="itemClicked(reading.id,'flagged')">
    <span class="nc-icon nc-flag-points-32"></span> <span class="reading-list-button">Flag</span>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-class="{ 'btn-success': getNumberOfNotes(reading.id) > 0 }" ng-click="itemClicked(reading.id,'note')" data-toggle="modal" data-target="#myModal">
    <span class="nc-icon nc-notes"></span> <span class="reading-list-button">Notes</span> <span ng-if="getNumberOfNotes(reading.id) > 0" class="badge">{{getNumberOfNotes(reading.id)}}</span>
  </button>

