    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-text"><img class="navlogo" src="img/FRM_mark_ko.png"> <span ng-if="innerWidth < 995 && innerWidth > 400"> - {{currentMenuItem}}</span></p>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li id="mainnav-dashboard" class="nav-item-area" ng-class="{ active: isActive('/dashboard')}" ><a href ng-click="changeView('dashboard')"><span class="glyphicon glyphicon-tasks nav-item-icon"></span><br>Dashboard</a></li>
            <li id="mainnav-readings" class="nav-item-area" ng-class="{ active: isActive('/readings')}"><a href ng-click="changeView('readings')"><span class="glyphicon glyphicon-book nav-item-icon"></span><br>Readings</a></li>
            <li id="mainnav-tests" class="nav-item-area" ng-class="{ active: isActive('/examsettings')}"><a href ng-click="changeView('examsettings')"><span class="glyphicon glyphicon-pencil nav-item-icon"></span><br>Tests</a></li>
            <li id="mainnav-messages" class="nav-item-area" ng-class="{ active: isActive('/messages')}"><a href ng-click="changeView('messages')"><span class="glyphicon glyphicon-comment nav-item-icon"></span><br>Messages</a></li>
            <li id="mainnav-examday" class="nav-item-area" ng-class="{ active: isActive('/examday')}"><a href ng-click="changeView('examday')"><span class="glyphicon glyphicon-calendar nav-item-icon"></span><br>Exam Day</a></li>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right nav-right-area">
           <form ng-if="currentMenuItem != 'Glossary'" class="navbar-form navbar-left" role="search" ng-submit="searchGlossary(searchTerms)">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search">
            </div>
            <span ng-click="searchGlossary(searchTerms)" class="glyphicon glyphicon-search nav-icon-search"></span>
            <input type="submit" style="display:none"/>
            <img ng-click="changeView('myaccount')" id="userImage" src="img/user.png" width="30">
          </form>
		  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
