<div class="container page-container">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="login-header-area">
        <img src="img/FRM_mark_ko.png">
          <div class="login-footer-area">
            <p>GARP is the only globally recognized leader in financial risk testing and certification programs, and educational and training activity.</p>
          </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
<!--    
    <div class="col-md-5">
      <div class="hoz-center video-area">
        <div>

          <div class="videoimage-controls-area">
            <video class="videoplayer" id="videoplayer">
              <source src="http://dl.dropboxusercontent.com/u/122147512/clipcanvas_14348_offline.mp4" type="video/mp4">
            </video>
            <div id="intro" class="videoimage" ng-click="playVideo()">
              <img src="img/garp_logo_sm.gif">
            </div>
            <div class="videoplaybutton">
              <img src="img/play.png" width="60" class="videoplaybutton-image" ng-click="playVideo()">
            </div>            
          </div>

        </div>
      </div>
    </div>
-->    
    <div class="col-md-6">
      <div class="panel panel-primary app-panel">
        <div class="panel-heading">Sign In</div>
        <div class="panel-body">
            <div class="hoz-center login-area">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" style="padding-left:20px">@</span>
                <input id="userName" ng-model='userName' type="text" class="form-control" placeholder="Username">
              </div>
              <div class="input-group input-group-lg">
                <span class="input-group-addon">***</span>
                <input id="password" ng-model='password' type="password" class="form-control" placeholder="Password">
              </div>
              <div class="login-buttons">
                <button type="button" ng-click="login(remember)" class="btn btn-success btn-block">Login</button>
                <div class="forget-password-area"><a href="">Forgot Password?</a></div>
                <div class="forget-password-area"><input ng-model="remember" type="checkbox"> Remember me?</div>
                r: {{remember}}
              </div>
              <p><div id="errormsg"></div></p>
            </div>    
          </div>
        </div>
      </div>


    
    <div class="col-md-3"></div>

  </div>
  <div class="row">
    <div class="col-md-12 footer-area">
      <a href="">Register Today. v0.17</a>
    </div>
  </div>
</div>
