<div class="container page-container">
	<div class="row">
		<div class="col-md-8">

      <!-- progress widget -->
      <div class="highlight marginForPanelsProg" ng-include="'partials/frm-dashboard-progress.html'"></div>

      <div class="highlight" ng-include="'partials/frm-dashboard-lessons-inprogress.html'"></div>

      <div class="highlight" ng-include="'partials/frm-dashboard-lessons-upnext.html'"></div>

		</div>
		<div class="col-md-4">
      <div class="regular" ng-include="'partials/frm-dashboard-flagged.html'"></div>
      <!-- div class="regular" ng-include="'partials/frm-dashboard-messages.html'"></div -->
		</div>
	</div>	
</div>