    <div class="panel panel-primary app-panel">
      <div class="panel-heading">In Progress</div>
      <div class="panel-body nopadding">

        <ul class="list-group list-group nopadding">

          <li class="list-group-item" ng-repeat="lesson in lessons" class="">
            <div class="lesson-item">
                <div class="title">{{lesson.title}}</div>
                <div class="buttons"><button type="button" class="btn btn-success">Study</button></div>
            </div>
          </li>

        </ul>

      </div>
    </div>
