<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>    
    
  <div class="container">
		<div class="row">
		  <div class="col-md-12 ">
        <div class="row">
          <div class="col-md-10 ">
          Lesson Name
          </div>
          <div class="col-md-2 ">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Select Lesson <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lesson 1</a></li>
                <li><a href="#">Lesson 2</a></li>
                <li><a href="#">Lesson 3</a></li>
              </ul>
            </div>        
          </div>
        </div>
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item readings-list-item">
                <div class="col-md-9">
                Risk Taking: A Corporate Governance Perspective, (International Finance Corporation, World BankGroup, June 2012)
                </div>
                <div class="col-md-3" ng-include="'partials/frm-control-readings-items-buttons.html'"></div>                    
            </li>
            <li class="list-group-item readings-list-item">
                <div class="col-md-9">
                Reading Name 1
                </div>
                <div class="col-md-3" ng-include="'partials/frm-control-readings-items-buttons.html'"></div>                    
            </li>
            <li class="list-group-item readings-list-item">
                <div class="col-md-9">
                Reading Name 1
                </div>
                <div class="col-md-3" ng-include="'partials/frm-control-readings-items-buttons.html'"></div>                    
            </li>
            </ul>        
        </div>
        
      </div>
    </div>
  </div>

    
    