<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>    


<div class="container page-container">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary app-panel dashboard">
        <div class="panel-heading exam-question-heading">
          <div>
            <div class="row">
              <div style="float:left;color:black">{{userData.registeredExam.registrations.records[0].Name}}</div>
              <div style="float:right;margin-right:10px;margin-left:10px;color:black;">
                <div ng-click="reTake()" style="float:left;margin-right:30px"><span class="glyphicon glyphicon-pencil"></span> Retake Exam</div>
                <div ng-click="exitExam()" style="float:left;margin-right:10px"><span class="glyphicon glyphicon-share-alt"></span> Exit Exam</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">

          <table class="table table-condensed">
            <tr>
              <td class="exam-question-choice">
                <p style="font-size:20px;margin-bottom:30px">Final Score: <span style="font-weight:bold;font-size:25px">{{formatNumber(correctAnswers/totalQuestions,0)}} /</span> <span style="font-size:25px">100</span></p>
                <div>
                  <div style="float:left;margin-right:20px;font-weight:bold">Average Questions per minute: XX</div>
                  <div style="float:left;font-weight:bold">Total Time Spent: YY</div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="exam-question-choice">
                <p style="font-size:20px;margin-bottom:30px">Answer Stats:</p>
                <div>
                  <span class="exam-question-heading-item"><span class="glyphicon glyphicon-ok"></span> Correct Answers:</span> <div class="exam-results-correct">{{correctAnswers}}</div>
                  <span class="exam-question-heading-item"><span class="glyphicon glyphicon-remove"></span> Incorrect Answers: <span class="exam-results-incorrect">{{wrongAnswers}}</span></span>
                </div>
                <div>
                  <span class="exam-question-heading-item"> Skipped Questions: <span class="exam-results-skipped">{{skipQuestions}}</span></span>
                  <span class="exam-question-heading-item"> Flagged Questions: <span class="exam-results-skipped">{{skipQuestions}}</span></span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="exam-question-choice">
                <p style="font-size:20px;margin-bottom:30px">Question Links:</p>
                <div class="form-group">
                  <div ng-repeat="userAnswer in userAnswers" class="examsettings-options-topics">
                    <div style="border:1px solid #000000;width:30px;height:30px;padding-left:10px;padding-top:5px;" ng-class="{correctAnswer: (userAnswer.question.answer == userAnswer.choice), incorrectAnswer: (userAnswer.question.answer != userAnswer.choice), flaggedQuestion: !userAnswer.choice}">{{$index}}</div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="exam-results-header">
            <h3>Test Results</h3>
            <p>Correct Answers: {{correctAnswers}}</p>
            <p>Wrong Answers: {{wrongAnswers}}</p>
            <p ng-if="settings.mode == 0">Skipped Questions: {{skipQuestions}}</p>        
          </div>
        </div>
      </div>

      
      <div id="accordian">
        <div ng-repeat="userAnswer in userAnswers" class="panel-group">
          <div class="panel panel-default">

            <div class="panel-heading" ng-click="showQuestion(userAnswer.question.id)">
              <h4 ng-if="userAnswer.choice" class="panel-title">Question {{$index+1}}: {{(userAnswer.question.answer == userAnswer.choice) ? 'Correct' : 'Incorrect'}}</h4>
              <h4 ng-if="!userAnswer.choice" class="panel-title">Question {{$index+1}}: Skipped</h4>
            </div>
            <div id="{{userAnswer.question.id}}" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="exam-question-counter">
                  {{userAnswer.question.id}} : {{userAnswer.question.question}}
                </div>
                <div class="exam-question-choices">
                  <table class="table table-condensed">
                    <tr ng-repeat="choice in userAnswer.question.choices">
                      <td>{{choice.id}}.</td>
                      <td>{{choice.description}}</td>
                    </tr>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-default exam-question-answer" ng-repeat="answer in userAnswer.question.answers">{{answer.id}}. {{answer.answer}}</button>
                  </div>
                </div>
                <p ng-if="userAnswer.choice && (userAnswer.question.answer != userAnswer.choice)">You chose {{userAnswer.choice}}</p>
                <p>The correct answer is {{userAnswer.question.answer}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="test-results-bottom-nav-area">
            <a href="" ng-click="exitExam()">Exit Test</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Note Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{answerResponse}}</h4>
      </div>
      <div class="modal-body">
      	<p ng-if="correctAnswer.length > 0">The correct answer is {{correctAnswer}}</p>
      	<p>{{answerReason}}</p>
      </div>
      <div class="modal-footer">
      	<div ng-if="currentQuestion == totalQuestions">
        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="nextQuestion()">Finish</button>
      	</div>
      	<div ng-if="currentQuestion < totalQuestions">
        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="nextQuestion()">Next Question</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
