<div class="container page-container">
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">My Account</div>
                </div>
                <div class="panel-body">

                    <div class="photo">
                        <img ng-if="userData.FullPhotoUrl" id="myAccountUserImage" ng-src="{{userImage}}" width="230" height="230">
                        <img ng-if="!userData.FullPhotoUrl" id="myAccountUserImage" src="img/user.png" width="230" height="230">
                    </div>

                    <p>
                        <button id="takePhoto" type="button" class="btn btn-default" ng-click="takePhoto()">Take Photo</button> 
                        <span ng-if="camerror">Camera Error: {{camerror}}</span>
                    </p>

                    <div class="user-info-area">
                        <p>{{userData.Name}}</p>
                        <p>GARP ID: {{userData.contact.GARP_Member_ID__c}}</p>
                    </div>

                    <textarea class="form-control" rows="3" ng-model="userSettings.insirpation" placeholder="What's your inspiration?"></textarea>

                    <!-- if user is in ERP/FRM programs -->
                    <div class="row" class="myaccount-settings">
                        <div ng-if="examInfo.canPick" class="col-xs-12 col-sm-6">

                            <h4>Organize Work By</h4>                          
                            <div class="btn-group" role="group">
                                <button ng-repeat="org in orgOptions"  
                                    name="{{org.value}}" 
                                    id="{{org.value}}"                                
                                    class="btn btn-default" 
                                    ng-class="{'active' : userSettings.organizeBy == org.value}" 
                                    ng-click="changeOrgOption(org.value)"
                                >  
                                    {{org.name}}
                                </button>
                            </div>    

                        </div>
                        <div ng-if="examInfo.canPick" class="col-xs-12 col-sm-6">
                            
                            <h4>Choose Exam</h4>
                            <div class="row">
                                <img src="img/frm.png" alt="FRM" ng-click="changeExam('frm')" class="img-responsive" ng-class="{'grey-image' : examInfo.exam == 'erp'}" style="margin: 10px; width:50px; float: left; "/>
                                <img src="img/erp.png" alt="ERP" ng-click="changeExam('erp')" class="img-responsive" ng-class="{'grey-image' : examInfo.exam == 'frm'}" style="margin: 10px; width:50px; float: left;"/>
                            </div>

                        </div>
                    </div>
                    <!-- ./if user is in ERP/FRM programs -->

                    <!-- if user is in only one program -->
                    <div class="row">
                        <div class="col-md-12" ng-if="!examInfo.canPick">
                            
                            <h4>Organize Work By</h4>                          
                            <div class="btn-group" role="group">
                                <button ng-repeat="org in orgOptions"  
                                    name="{{org.value}}" 
                                    id="{{org.value}}"                                
                                    class="btn btn-default" 
                                    ng-class="{'active' : userSettings.organizeBy == org.value}" 
                                    ng-click="changeOrgOption(org.value)"
                                >
                                    {{org.name}}
                                </button>
                            </div>                                

                        </div>
                    </div>
                    <!-- ./if user is in only one program -->

                    <div class="row">
                        <div class="col-sm-6">                           
                            <button type="button" class="btn btn-block garp-btn-green" ng-click="changeView('dashboard')">Continue</button>                          
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-block garp-btn-blue" ng-click="logout()">Logout</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div ng-if="examInfo.userExam" class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Exam Information</div>
                        </div>
                        <div class="panel-body">
                            <div class="panel-info">{{util.formatExamName(userData.contact.KPI_Current_Exam_Registration__c)}}</div>
                            <div class="panel-info">{{examDate}}</div>
                            <div class="panel-info" data-ng-bind-html="displayAddress"></div>
                            <div id="map-canvas" class="myaccount-map-area"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
