<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>
  
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>FRM Exam Part 1</h2>

        <p>2130 Fulton Street</p>
        <p>San Francisco, CA 94117-1080</p>
        <p>Part 1 starts at: 7:00 am</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="examday-map-area" id="map_canvas">
        xxxx
      </div>
    </div>
    <div class="col-md-6">

      <ul id="examday-tabs" class="nav nav-tabs">
        <li id="tab_tab1" class="active"><a ng-click="tabToItem('tab1')">Reminders</a></li>
        <li id="tab_tab2" ><a ng-click="tabToItem('tab2')">Things to Know</a></li>
      </ul>
      <div class="tab-pane examday-info-area active" id="tab1">
        <table class="table table-condensed">
          <tr>
            <td><input type="checkbox" check="model" value="{{ value }}"></td>
            <td>Exam Admission Ticket</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Current non-expired Government Issued Photo ID</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Approved Calculator</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#2 or Hard Black (HB) pencils</td>
          </tr>
        </table>
        <div ng-if="!userSession.reminderAdded">
          <button type="submit" ng-click="addReminder('ticket')" class="btn">Add Reminder</button>  <span id="reminderStatus">{{reminderStatus}}</span>
        </div>
        <div ng-if="userSession.reminderAdded">
          <span>Reminder Added to Calendar</span> <span>{{reminderStatus}}</span>
        </div>

      </div>

      <div class="tab-pane examday-info-area" id="tab2">
        <p>Personal Belongings at the Test Center</p>
        <p>Smartphones and Your Exam</p>
        <p>Misconduct During the Exam</p>
        <p><a href="map://newyork">New York</a></p>
        <p><a href="mailto://help@help.com">Contact Help!</a></p>
        <p><a href="tel://555-5555">Call Now!</a>

      </div>

    </div>
  </div>
</div>

    
    