<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>
  
<div class="container">
  <div class="row addBorder">
    <div class="col-md-12  addBorder">
      <span class="examname">FRM Exam</span>
      <p>Text about exam</p>
      <p>Text about exam</p>
      <p>Text about exam</p>
      <p>Text about exam</p>
    </div>
    <div class="col-md-3  addBorder">
      Pic
    </div>
    <div class="col-md-9  addBorder">
      Basic Info...
    </div>
    <div class="col-md-12  addBorder">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>

    
    