<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>    


<div class="container page-container">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary app-panel dashboard">
        <div class="panel-heading exam-question-heading">
          <div>
            <div class="row">
              <div style="float:left;color:black">{{userData.registeredExam.registrations.records[0].Name}}</div>
              <div style="float:right;margin-right:10px;margin-left:10px;color:black;">
                <div ng-click="reTake()" style="float:left;margin-right:30px"><span class="glyphicon glyphicon-pencil"></span> Retake Exam</div>
                <div ng-click="exitExam()" style="float:left;margin-right:10px"><span class="glyphicon glyphicon-share-alt"></span> Exit Exam</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">

          <table class="table table-condensed">
            <tr>
              <td class="exam-question-choice">
                <p style="font-size:20px;margin-bottom:20px">Final Score: <span style="font-weight:bold;font-size:25px">{{calcCorrect()}} /</span> <span style="font-size:25px">100</span></p>
                <div style="width:500px;margin-left: auto;margin-right: auto;">
                  <div style="float:left;margin-right:20px;font-weight:bold">Average Questions per minute: XX</div>
                  <div style="float:left;font-weight:bold">Total Time Spent: YY</div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="exam-question-choice">
                <p style="font-size:20px;margin-bottom:20px">Answer Stats:</p>
                <div>
                  <div style="width:500px;margin-left: auto;margin-right: auto;">
                    <span class="exam-question-heading-item"><span class="glyphicon glyphicon-ok"></span> Correct Answers:</span> <div class="exam-results-correct">{{correctAnswers}}</div>
                    <span class="exam-question-heading-item"><span class="glyphicon glyphicon-remove"></span> Incorrect Answers: <span class="exam-results-incorrect">{{wrongAnswers}}</span></span>
                  </div>
                  <br><br>
                  <div style="width:500px;margin-left: auto;margin-right: auto;">
                    <span class="exam-question-heading-item"> Skipped Questions: <span class="exam-results-skipped">{{skipQuestions}}</span></span>
                    <span class="exam-question-heading-item"> <span class="glyphicon glyphicon-flag"></span> Flagged Questions: <span class="exam-results-flagged">{{flaggedQuestions}}</span></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="exam-question-choice">
                <p style="font-size:20px;margin-bottom:20px">Question Links:</p>
                <div class="form-group">
                  <div ng-repeat="userAnswer in userAnswers" class="examsettings-options-topics">

                    <div ng-if="userAnswer.flagged" style="border:1px solid #000000;border-bottom: 5px solid #00A2DD;width:30px;height:30px;padding-left:10px;padding-top:5px;" ng-class="{correctAnswer: (userAnswer.question.answer == userAnswer.choice), incorrectAnswer: (userAnswer.question.answer != userAnswer.choice), skippedQuestion: !userAnswer.choice}" ng-click="gotoQuestion($index)">{{$index+1}}</div>

                    <div ng-if="!userAnswer.flagged" style="border:1px solid #000000;width:30px;height:30px;padding-left:10px;padding-top:5px;" ng-class="{correctAnswer: (userAnswer.question.answer == userAnswer.choice), incorrectAnswer: (userAnswer.question.answer != userAnswer.choice), skippedQuestion: !userAnswer.choice}" ng-click="gotoQuestion($index)">{{$index+1}}</div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
