<!-- Note Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="FRMNotesCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">

      <p>{{currentReading.id}} - <span ng-if="currentReading.chapter.title">{{currentReading.chapter.title}}</span> <span ng-if="currentReading.section.title">, {{currentReading.section.title}}</span> </p>
      <p ng-if="currentReading.book.title">{{currentReading.book.title}} by <span ng-if="currentReading.book.author">{{currentReading.book.author}}</span> <span ng-if="currentReading.book.publisher">({{currentReading.book.publisher}})</span>

        </h4>
      </div>
      <div class="modal-body">
        <form ng-submit="addNote(noteInput)">
          <textarea id="addNote" class="form-control" rows="3" ng-model="noteInput"></textarea>
          <p>
            <button type="button" class="btn btn-primary btn-xs" ng-click="addNote(noteInput)">Add Note</button>
          </p>
          <input type="submit" style="display:none"/>
        </form>
        <ul class="list-group" >
          <li class="list-group-item" ng-repeat="note in notes track by $index"><button type="button" class="close" aria-hidden="true" ng-click="deleteNote(note)">×</button>{{note}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
