<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>
  
<div class="container page-container">
  <div class="row">
    <div class="col-md-7">
      <ul class="list-group">
        <li class="list-group-item"><h3>Your Exam info</h3></li>
        <li class="list-group-item">{{userData.registeredExam.name}}</li>
        <li class="list-group-item">{{userData.registeredExam.day}}</li>
        <li class="list-group-item">{{userData.registeredExam.time}}</li>
        <li class="list-group-item">{{userData.registeredExam.address}} {{userData.registeredExam.city}}, {{userData.registeredExam.state}} {{userData.registeredExam.zip}}</li>
      </ul>

      Organize Work By: <select ng-model="orgOption" ng-options="c.name for c in orgOptions" ng-change="changeOrgOption()"></select><br>

      <button type="button" class="btn btn-default" ng-click="clearData()">Reset Progress</button>
    </div>
    <div class="col-md-5">
      <div class="insperation-area">
        <p>What's your inspiration?</p>
        <textarea class="form-control" rows="3">{{userData.insperation}}</textarea>
      </div>
      <div class="user-info-area">
        <div class="photo-area">
          <div class="photo">
            <img id="userImage" src="img/user.png" width="230" height="230">
          </div>
          <button id="takePhoto" type="button" class="btn btn-default" ng-click="takePhoto()">Take Photo</button>
        </div>
        <div class="user-info-area">
          <p>{{userData.name}}</p>
          <p>ID: {{userData.id}}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <span>Weekly Schedule:</span> <span>{{currentLesson.title}}</span>
  		<div class="schedulebar-area">
  			<div class="slide-animate" ng-include="'partials/frm-schedularbar.html'"></div>
  		</div>      
    </div>
	</div>

  <div class="row">
    <div class="col-md-12">
      <div class="myaccount-continue">
        <button type="button" class="btn btn-primary btn-lg" onclick="document.location.hash = '#/dash';">Continue</button>
      </div>
    </div>
  </div>


</div>
