
<div class="daysarea" ng-click="changeView('examday')">
	<div class="daysleft">
		<h3>Exam day details</h3>
		<span>29</span> <span>day until the exam</span>
	</div>
	<div class="daysright">
		<span class="glyphicon glyphicon-chevron-right large-glyphicon"></span>
	</div>
</div>

<div class="flagtestarea">

	<div class="flagarea workhead"  ng-click="gotoFlagged()">
		<h3>Flagged Items</h3>
		<span class="glyphicon glyphicon-flag large-glyphicon"></span>
	</div>
	<div class="testarea workhead" ng-click="changeView('examsettings')">
		<h3>Sample Tests</h3>
		<span class="glyphicon glyphicon-play-circle large-glyphicon"></span>
		
	</div>

</div>
