<ul class="readings-list-area list-group" ng-controller="FRMAppReadingsListCtrl">				
	<li ng-repeat="reading in readings" class="list-group-item" ng-class="{ 'reading-done': isItemClicked(reading.id, 'checked') }">
		<div ng-include="'partials/frm-control-readings-items-buttons.html'"></div>
		<div>
			<p>{{reading.id}} - {{reading.description}}</p>
			<div ng-if="reading.attachmentURL">
				<span class="glyphicon glyphicon-book"></span> <span class="sectiontext">{{reading.attachmentName}}</span> <span>{{reading.attachmentDesc}}</span>
			</div>
		</div>
	</li>				
</ul>    			
