<!-- Fixed navbar -->
<div class="view-container" ng-include="'partials/frm-mainnav.html'"></div>

<div class="container page-container">

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">My Account</div>
                </div>
                <div class="panel-body">

                    <div class="photo">
                        <img id="myAccountUserImage" src="img/user.png" width="230">
                    </div>

                    <p>
                        <button id="takePhoto" type="button" class="btn btn-default" ng-click="takePhoto()">Take Photo</button> <span ng-if="camerror">Camera Error: {{camerror}}</span>
                    </p>

                    <div class="user-info-area">
                        <p>{{userData.Name}}</p>
                        <p>GARP ID: {{userData.contact.GARP_Member_ID__c}}</p>
                    </div>
                    <div class="insperation-area">
                        <textarea class="form-control" rows="3" ng-model="userSettings.insirpation" placeholder="What's your inspiration?"></textarea>
                    </div>

                    <div class="myaccount-settings">
                        <div class="org">
                            Organize Work By:
                            <br>
                            <div class="btn-group" data-toggle="buttons">
                                <label ng-repeat="org in orgOptions" class="btn btn-justify garp-btn-white" ng-class="{'active' : userSettings.organizeBy == org.value}" ng-click="changeOrgOption(org.value)">
                                    <input type="radio" name="{{org.value}}" id="{{org.value}}">{{org.name}}
                                </label>
                            </div>
                            <div class="other">
                                <button type="button" class="btn garp-btn-white" ng-click="clearData()">Reset Progress</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Exam Information</div>
                </div>
                <div class="panel-body">
                    <div class="panel-info">{{userData.contact.KPI_Current_Exam_Registration__c}}</div>
                    <div class="panel-info">{{userData.contact.KPI_Current_Exam_Date__c}}</div>
                    <div class="panel-info">{{userData.contact.time}}</div>
                    <div class="panel-info">{{userData.contact.KPI_Current_Exam_Location__c}}</div>
                    <div id="map-canvas" class="myaccount-map-area"></div>
                </div>
            </div>
        </div>



    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="myaccount-continue">
                <button type="button" class="btn garp-btn-green" ng-click="changeView('dashboard')">Continue</button>
            </div>
        </div>
    </div>


</div>
