
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="login-header-area">
        <h3>Welcome to</h3>
        <h1>FRM Study App v0.5</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    
    <div class="col-md-4">
      <div class="hoz-center video-area">
        <div>

          <div class="videoimage-controls-area">
            <video class="videoplayer" id="videoplayer">
              <source src="http://dl.dropboxusercontent.com/u/122147512/clipcanvas_14348_offline.mp4" type="video/mp4">
            </video>
            <div id="intro" class="videoimage" ng-click="playVideo()">
              <img src="img/garp_logo_sm.gif">
            </div>
            <div class="videoplaybutton">
              <img src="img/play.png" width="60" class="videoplaybutton-image" ng-click="playVideo()">
            </div>            
          </div>

        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="hoz-center login-area">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" style="padding-left:20px">@</span>
          <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">***</span>
          <input type="text" class="form-control" placeholder="Password">
        </div>
        <div class="login-buttons">
          <button type="button" class="btn btn-default">Forgot Password?</button>
          <button type="button" onclick="document.location.hash = '#/myaccount';" class="btn btn-default">Login</button>
          <button type="button" ng-click="clearData()" class="btn btn-default">Clear Data</button>
          {{userAgent}}
        </div>
      </div>    
    </div>
    
    <div class="col-md-2">
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 ">
      <div class="login-footer-area">
        <p>GARP is the only globally recognized leader in financial risk testing and certification programs, and educational and training activity.</p>
      </div>
    </div>
  </div>
</div>
