<!-- Fixed navbar -->
<div ng-controller="NavController">
    <div ng-if="!isActive('/pickexam') && !isActive('/login')" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id="logo" class="img-responsive" title='FRM App' style="height:40px;margin-top: 20px" src="img/garp-frm-study-center-blue.png">

                <!-- mobile nav-->
                <div id="mobileNavBar" class="mobileIcons">
                    <div ng-if="examInfo.exam" id="mainnav-dashboard" class="nav-item-area" ng-class="{ active: isActive('/dashboard')}"><a href ng-click="changeView('dashboard')"><span class="glyphicon glyphicon-tasks nav-item-icon" title="Dashboard"></span></a>
                    </div>
                    <div ng-if="examInfo.exam" id="mainnav-readings" class="nav-item-area" ng-class="{ active: isActive('/readings')}"><a href ng-click="changeView('readings')"><span class="glyphicon glyphicon-book nav-item-icon" title="Study Guide"></span></a>
                    </div>
                    <div ng-if="examInfo.exam" id="mainnav-tests" class="nav-item-area" ng-class="{ active: isActive('/examsettings')}"><a href ng-click="changeView('examsettings')"><span class="glyphicon glyphicon-pencil nav-item-icon" title="Tests"></span></a>
                    </div>
                    <div ng-if="examInfo.userExam" id="mainnav-examday" class="nav-item-area" ng-class="{ active: isActive('/examday')}"><a href ng-click="changeView('examday')"><span class="glyphicon glyphicon-calendar nav-item-icon" title="Exam Day"></span></a>
                    </div>
                    <div ng-if="examInfo.userExam" id="mainnav-myaccount" class="nav-item-area" ng-class="{ active: isActive('/myaccount')}"><a href ng-click="changeView('myaccount')"><img id="userImageNav" ng-src="{{userImage}}" width="30"></a>
                    </div>
                </div>
                <div id="lowerNav" class="navbar-lower">
                  <div ng-if="examInfo.exam" id="mainnav-dashboard" class="nav-item-area" ng-class="{ active: isActive('/dashboard')}"><a href ng-click="changeView('dashboard')"><span class="glyphicon glyphicon-tasks nav-item-icon" title="Dashboard"></span></a>
                  </div>
                  <div ng-if="examInfo.exam" id="mainnav-readings" class="nav-item-area" ng-class="{ active: isActive('/readings')}"><a href ng-click="changeView('readings')"><span class="glyphicon glyphicon-book nav-item-icon" title="Study Guide"></span></a>
                  </div>
                  <div ng-if="examInfo.exam" id="mainnav-tests" class="nav-item-area" ng-class="{ active: isActive('/examsettings')}"><a href ng-click="changeView('examsettings')"><span class="glyphicon glyphicon-pencil nav-item-icon" title="Tests"></span></a>
                  </div>
                  <div ng-if="examInfo.userExam" id="mainnav-examday" class="nav-item-area" ng-class="{ active: isActive('/examday')}"><a href ng-click="changeView('examday')"><span class="glyphicon glyphicon-calendar nav-item-icon" title="Exam Day"></span></a>
                  </div>
                <div ng-if="examInfo.userExam" id="mainnav-myaccount" class="nav-item-area" ng-class="{ active: isActive('/myaccount')}"><a href ng-click="changeView('myaccount')"><img id="userImageNav" ng-src="{{userImage}}" width="30"></a>
                </div>
            </div>
            <!-- div ng-if="messages" class='myMessage'>
                <li id="mainnav-readings">
                    <a class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-inbox nav-item-icon"></span>
                    </a>
                    <ul class="dropdown-menu list-group">
                    </ul>
                </li>
            </div -->
            <div ng-if="examInfo.exam" ng-show="userAccount" class="mobileUserAccount">
                <a class="col-xs-6 col-sm-6 columnsSplit" href="" ng-click="changeView('myaccount')">
                 My Account
             </a>
             <a class="col-xs-6 col-sm-6 columnsSplit" href='' ng-click="changeView('login')">
                Logout
            </a>
        </div>

        <form ng-if="location.current !== '/glossary'" role="search" ng-submit="searchGlossary(searchTerms)" class="mobileSearch" ng-if='!showGlossarySearch'>
            <div>
                <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search Glossary" style="border-radius:0px;">
            </div>

        </form>

    </div>
    <!-- end of mobile nav-->


    <!-- main nav-->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-if="examInfo.exam" id="mainnav-dashboard" class="nav-item-area" ng-class="{ active: isActive('/dashboard')}"><a href ng-click="changeView('dashboard')"><span class="glyphicon glyphicon-tasks nav-item-icon"></span><br>Dashboard</a>
            </li>
            <li ng-if="examInfo.exam" id="mainnav-readings" class="nav-item-area" ng-class="{ active: isActive('/readings')}"><a href ng-click="changeView('readings')"><span class="glyphicon glyphicon-book nav-item-icon"></span><br>Study Guide</a>
            </li>
            <li ng-if="examInfo.exam" id="mainnav-tests" class="nav-item-area" ng-class="{ active: isActive('/examsettings')}"><a href ng-click="changeView('examsettings')"><span class="glyphicon glyphicon-pencil nav-item-icon"></span><br>Tests</a>
            </li>
            <li ng-if="examInfo.userExam" id="mainnav-examday" class="nav-item-area" ng-class="{ active: isActive('/examday')}"><a href ng-click="changeView('examday')"><span class="glyphicon glyphicon-calendar nav-item-icon"></span><br>Exam Day</a>
            </li>
        </li>

        <!-- li ng-if="isOnline() && userData.contact.Mobile_App_Administration && !isMobile" id="mainnav-messages" class="nav-item-area" ng-class="{ active: isActive('/messages')}"><a href ng-click="changeView('alerts')"><span class="glyphicon glyphicon-comment nav-item-icon"></span><br>Messages</a>
        </li -->

        <li ng-if="examInfo.exam" id="mainnav-glossary" class="nav-item-area" ng-class="{ active: isActive('/glossary')}"><a href ng-click="searchGlossary(searchTerms)"><span class="glyphicon glyphicon-search nav-item-icon"></span><br>Glossary</a>
        </li>
    </li>
</ul>

<div class="nav navbar-nav navbar-right nav-right-area">
    <form ng-if="currentMenuItem != 'Glossary'" class="navbar-form navbar-left" role="search" ng-submit="searchGlossary(searchTerms)">
        <div ng-if="examInfo.exam" class="form-group nav-glossary-input">
            <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search Glossary">
        </div>
        <span ng-click="searchGlossary(searchTerms)" class="glyphicon glyphicon-search nav-icon-search"></span>
        <input type="submit" style="display:none" />
    </form>
    <!--test -->

    <li id="mainnav-readings">
        <a tabbed ng-click="changeView('myaccount')">
            <img id="userImageNav" ng-src="{{userImage}}" width="30">
        </a>
    </li>
    
</div>
</ul>
</div>
<!--end of main nav-->


</div>
</div>
</div>


<!-- Note Modal -->
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{currentMessage.title}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {{getEpochDateTimeText(currentMessage.date)}}
                </p>
                <p>{{currentMessage.body}}</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</div>