<div ng-controller="ScheduleBarController">
<div class='schedulebar-scroll-left' ng-class="{'display-hidden' : (innerWidth >= 1200 && innerHeight >= 750)}" ng-click="scrollLeft()">
	<div class="schedulebar-scroll-area"><span class="glyphicon glyphicon-chevron-left"></span></div>
</div>
<div class='schedulebar-scroll-right' ng-class="{'display-hidden' : (innerWidth >= 1200 && innerHeight >= 750)}" ng-click="scrollRight()">
	<div class="schedulebar-scroll-area"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
</div>

<div class="schedulebar-item" ng-if="allMode">
	<div class="schedule-item-area" ng-class="{ 'schedulebar-item-selected': isItemSelected('all') }" ng-click="itemSelect('all')"></div>
	<span class="schedulebar-item-label">All</span>		
</div>


	<div ng-repeat="lesson in lessons | filter:filterMatch()" class="schedulebar">     
		<div class="schedulebar-item">
			<div class="schedule-item-area" ng-class="{ 'schedulebar-item-selected': isItemSelected(lesson.id), 
														'schedulebar-item-inProgress': isItemInProgress(lesson.id),
														'schedulebar-item-done': isItemDone(lesson.id)}" ng-click="itemSelect(lesson.id)">
			<span ng-class="{ 'glyphicon glyphicon-check schedulebar-item-text': isItemDone(lesson.id)}"></span>	
			</div>
			<span class="schedulebar-item-label">{{lesson.order}}</span>
			<!--ng-if="lesson.order == 1 || (lesson.order)%5 == 0" -->
			
		</div>		
	</div>	

</div>