<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>    

<div class="container page-container">

  <div class="row">
    <div class="col-md-6 ">
      <div>
        <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search">
      </div>
      <div>
        <ul class="list-group">        
          <li ng-repeat="examSite in examSites | filter:searchTerms" ng-click="selectItem(examSite)" class="list-group-item" ng-class="{examSiteSelected : examSite.selected}">
            <span>{{examSite.Name}}</span>
          </li>       
        </ul>         
      </div>      
    </div>

    <div class="col-md-6 ">
      
      <ul class="list-group">        
          <li class="list-group-item"><b>Selected</b></li>
          <li ng-repeat="examSite in examSites | filter:matchSelected()" class="list-group-item">
            <span>{{examSite.Name}}</span> <a href ng-click="selectItem(examSite)" style="float: right; margin: 10px;"><span class="glyphicon glyphicon-remove"></a>
          </li>       
        </ul>         
    </div>
  </div>

<div class="row">
    <div class="col-md-12 ">
      
      <div class="panel panel-default">
        <div class="panel-body">
          Alert Options: <input type=checkbox name=sound> Sound   
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
           <textarea ng-model="message" maxlength="250" cols="60" rows="3"></textarea>
           <span>Used: {{message.length}} our of 250<span>
           <button type="button" class="btn btn-success btn-lg" ng-click="sendMsg(message)">Continue</button>
        </div>
      </div>

  </div>


</div>

<div ng-include="'partials/frm-navFooter.html'"></div>

<div ng-include="'partials/frm-notes.html'"></div>