<div class="col-md-6">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">My Progress</div>
        </div>
        <div class="panel-body" style="text-align:center; padding-left: 0; padding-right: 0;">

            <img ng-if="userData.FullPhotoUrl" class="user-image" id="userImage" ng-src="{{userImage}}">
            <img ng-if="!userData.FullPhotoUrl" class="user-image" id="userImage" src="img/user.png">

            <p>{{userData.Name}}</p>
            <p>GARP ID: {{userData.contact.GARP_Member_ID__c}}</p>

            <div style="font-weight: 600;">{{percentCompleteTotals.totalDoneItems}} of {{percentCompleteTotals.totalReadings}}</div>

            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{percentCompleteTotals.percentComplete}}%">
                    {{percentCompleteTotals.percentComplete}}%
                </div>
            </div>
        </div>
    </div>
  
</div>
<div class="col-md-6">
 
    <div ng-if="days" class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Exam</div>
        </div>

        <div class="panel-body calDaysBody">
            <div class="daysUntilHeader">Countdown</div>
            <div class="days">{{days}}</div>
            <div class="dayText">day(s)</div>
        </div>
    </div>
  
</div>
