<!-- Fixed navbar -->
<div class="slide-animate" ng-include="'partials/frm-mainnav.html'"></div>    

<div class="container page-container">

<div class="row">
  <div class="col-md-12 ">
    <div class="panel panel-default">
      <div class="panel-body">
        <button ng-if="openMode" type="button" class="btn garp-btn-white " ng-click="open(!openMode)">Compose a new Message</button>
        <button ng-if="!openMode" type="button" class="btn garp-btn-blue" ng-click="open(!openMode)">Open Exiting Message</button>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          Title <input type="text" class="form-control" ng-model="title" placeholder="Search">
        </div>
        <div>
         <textarea ng-model="message" maxlength="250" cols="60" rows="3" style="width:100%;"></textarea><br>
         <span>Used: {{message.length}} our of 250<span><br>
          Alert Options: <input type=checkbox ng-model="sound" name="sound"> Sound   <br>
         <button ng-if="!openMode" type="button" class="btn btn garp-btn-blue" ng-click="sendMsg(message)">Send</button>
         <button ng-if="!openMode" type="button" class="btn btn garp-btn-green" ng-click="clear()">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="openMode">
  <div class="col-md-12 ">

    <div class="panel panel-default">
      <div class="panel-body">
        <p><b>Select an existing message:</b></p>
      </div>
    </div>
    <div>
      <input type="text" class="form-control" ng-model="msgSearchTerms" placeholder="Search">
    </div>
    <div>
      <ul class="list-group">        
        <li ng-repeat="msg in allMessages | filter:msgSearchTerms" ng-click="selectMsg(msg)" class="list-group-item">
          <p>{{msg.title}} - {{msg.body}}</p>
          <p>Sent On: {{getEpochDateShortText(msg.date)}}</p>
          <p>
            <span ng-repeat="site in msg.sites">{{site.name}} {{$last ? '' : ', '}}</span>
          </p>
        </li>       
      </ul>         
    </div>      
  </div>
</div>

<div class="row" ng-if="!openMode">
  <div class="col-md-6 ">
    <div>
      <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search">
    </div>
    <div>
      <ul class="list-group">        
        <li ng-repeat="examSite in examSites | filter:searchTerms" ng-click="selectItem(examSite)" class="list-group-item" ng-class="{examSiteSelected : examSite.selected}">
          <span>{{examSite.Name}}</span>
        </li>       
      </ul>         
    </div>      
  </div>

  <div class="col-md-6 ">
    
    <ul class="list-group">        
        <li class="list-group-item"><b>Selected</b></li>
        <li ng-repeat="examSite in examSites | filter:matchSelected()" class="list-group-item">
          <span>{{examSite.Name}}</span> <a href ng-click="selectItem(examSite)" style="float: right; margin: 10px;"><span class="glyphicon glyphicon-remove"></a>
        </li>       
      </ul>         
  </div>
</div>


<div ng-include="'partials/frm-navFooter.html'"></div>

<div ng-include="'partials/frm-notes.html'"></div>