<div ng-controller="filterInstructionsCtrl" class="panel panel-primary">

    <div class="panel-heading">
        <span>Filter Instructions</span>
        <span style="float: right;">
            <a style="color: #006c99; text-decoration: none;" ng-if="!state.show" ng-click="state.show = true">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a style="color: #006c99; text-decoration: none;" ng-if="state.show" ng-click="state.show = false">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
        </span>
    </div>

    <div class="panel-body" ng-if="state.show">

        <p>Read the following selections. As you go mark each one as 
            <button class="readings-sample-btn">
                <span class="glyphicon glyphicon-check"></span>
                <span>Done</span>
            </button>. 
            If you are having trouble you may 
            <button class="readings-sample-btn">
                <span class="glyphicon glyphicon-flag"></span> 
                <span>Flag</span>
            </button> 
            items or add 
            <button class="readings-sample-btn"> 
                <span class="glyphicon glyphicon-list-alt"></span> 
                <span>Notes</span>
            </button>.
        </p>

    </div>
</div>