<?xml version='1.0' encoding='utf-8'?>
<widget id="com.garp.garpApp" version="1.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GARP Study Center</name>
    <description>
        This is the offical GARP study application.
    </description>
    <author email="support@garp.com" href="http://www.garp.com">
        GARP
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />

    <icon gap:platform="ios" src="res/icon/ios/58x58_icon.png" width="58" height="58" />
    <icon gap:platform="ios" src="res/icon/ios/80x80_icon.png" width="80" height="80" />
    <icon gap:platform="ios" src="res/icon/ios/87x87_icon.png" width="87" height="87" />
    <icon gap:platform="ios" src="res/icon/ios/120x120_icon.png" width="120" height="120" />
    <icon gap:platform="ios" src="res/icon/ios/152x152_icon.png" width="152" height="152" />
    <icon gap:platform="ios" src="res/icon/ios/76x76_icon.png" width="76" height="76" />

    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />
    
    <!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/blackberry/screen-225.png"              gap:platform="blackberry" />
    <gap:splash src="res/screen/ios/03_1136x640_splash.png"             gap:platform="ios"     width="1136" height="640" />
    <gap:splash src="res/screen/ios/03_640x1136_splash.png"             gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/ios/02_1334x750_splash.png"             gap:platform="ios"     width="1334" height="750" />
    <gap:splash src="res/screen/ios/02_750x1334_splash.png"             gap:platform="ios"     width="750" height="1334" />
    <gap:splash src="res/screen/ios/01_1920x1080_splash.png"             gap:platform="ios"     width="1920" height="1080" />
    <gap:splash src="res/screen/ios/01_1080x1920_splash.png"             gap:platform="ios"     width="1080" height="1920" />
    <gap:splash src="res/screen/ios/05_2048x1536_splash.png"             gap:platform="ios"     width="2048" height="1536" />
    <gap:splash src="res/screen/ios/05_1536x2048_splash.png"             gap:platform="ios"     width="1536" height="2048" />
    <gap:splash src="res/screen/ios/04_2732x2048_splash.png"             gap:platform="ios"     width="2732" height="2048" />
    <gap:splash src="res/screen/ios/04_2048x2732_splash.png"             gap:platform="ios"     width="2048" height="2732" />
    <gap:splash src="res/screen/windows-phone/screen-portrait.jpg"      gap:platform="winphone" />

    
    <!-- gap:plugin name="nl.x-services.plugins.calendar" source="npm" / -->
    <!-- gap:plugin name="org.apache.cordova.camera" source="npm" / -->
    <!-- gap:plugin name="org.apache.cordova.network-information" source="npm" / -->
    <!-- gap:plugin name="com.phonegap.plugins.pushplugin" / -->

    <gap:config-file platform="ios" parent="NSCalendarsUsageDescription" overwrite="true">
        <string>GARP does not access your calendar. It simply allow you to create a reminder of when GARP events happen.</string>
    </gap:config-file>

    <gap:config-file platform="ios" parent="NSPhotoLibraryUsageDescription" overwrite="true">
        <string>GARP does not access your photos. It simply allow you to add a photo so we can identify you.</string>
    </gap:config-file>

    <access origin="*" />
    
</widget>
