body {
  #min-height: 2000px;
  padding-top: 60px;
  min-height:100%;
}

.examday-tabs {
  margin: 10px;
}

.exam-question-answer {
  margin: 10px;
}


.myaccount-continue {
  float: right;
  margin-right: 10px;
}

.exam-setting-title {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.exam-setting {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #e7e7e7; 
  min-height: 75px;
}

.exam-setting-button {
  float: right;
  margin-right: 10px;
}

.exam-setting-on {
  background-color: lightblue;
}

.button-on {
  background-color: lightblue;
}

.insperation-area {
  padding: 5px;
}

.readings-list-area {

}

.readings-filter {
  padding-top: 30px;
}

.user-info-area {
  margin: 10px;
  padding: 5px;
  height: 120px;
}

.schedulebar {
  float: left;
}

.schedulebar-area {
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}

.schedulebar-block {
  #border: 1px solid;
  float: left;
}

.schedulebar-item {
    #border-right: 1pt solid;
  	width: 45px;
    height: 45px;
    float: left;    
    margin-bottom: 15px;
    text-align: center;
}

.schedule-item-area {
  	background-color: #00000000;
    margin-top: 10px;
    height: 30px;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    margin-left: 5px;    
}

.schedulebar-item-done {
  background-color: #dddddd;
}

.schedulebar-item-inProgress {
    background-color: #dddddd;
}

.schedulebar-item-selected {
	border: 2px solid;
	border-color: green;
}

.schedule-item-area:hover{
   background-color:blue
}


.schedulebar-item-active {
    background-color: green;
}

.schedulebar-path-area {
    margin-bottom: 5px;
}

.photo-area {
  padding-right: 10px;
  float: left;
}

.photo {
  width:150px; 
  height: 200px;
  #margin: 0 auto;
	border: 1px solid;
	border-color: #dddddd;		
}

.user-info-area {
  padding: 10px;
}

.video-area {
}

.jplayer-advance-controls {
  display: none;
}

.jplayer-area {
}

.videoplayer {
  width:300px; 
}

.videoimage {
  display: none;
}

.videoplaybutton {
  position: absolute;
  top: 40px;
  left: 80px;
  width: 60px;
  display: none;
}

.login-area { 
}

.login-area div {
  padding: 5px;
}

.login-buttons-username {
  padding-left: 20px;
}

.login-buttons {
    width: 220px;
    margin: 0 auto;
}

.login-header-area {
  text-align: center;
  padding-bottom: 20px;
}

.login-footer-area {
  text-align: center;
  padding-top: 20px;
}

.hoz-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.reading-item-left {
  float: left;
}

.reading-item-right {
  float: right;
}

.readings-list-item {
  min-height: 50px;
}

.reading-list-button {
  margin-top: 1px;
}

.examname {
}
.examday-map-area {
  height: 500px;
}
.examday-info-area {
  margin: 10px;
}

.addBorder {
	border: 2px solid;
	border-color: #dddddd;		
}

.reading-done {
	background-color: #e7e7e7;
}

.msgread {
	background-color: pink;
	display:;
}

.msg-urgent {
	float: left;
	height: 50px;
	width: 20px;
}

.msg-header {
	height: 50px;
}

.msg-body-closed {
	display:none;
}

.msg-body-open {
	display:inline;
}


.flagtestarea {
	#padding: 5px;
	height: 90px;
	margin-top: 10px;
}

.flagarea {
    background-color: lightgray;
	float: left;
	width: 47%;
	#margin: 5px;
}

.testarea {
    background-color: lightgray;
	float: right;
	width: 47%;
	#margin: 5px;
}

.messagearea {
    #background-color: lightgray;
	margin-top: 10px;
	height: 250px;
}


.daysarea {
    background-color: lightgray;
	padding: 5px;
	height: 100px;
}

.daysleft {
    background-color: lightgray;
	  float: left;
    padding: 10px;
}

.daysright {
    background-color: lightgray;
	float: right;
}

.workhead {
  background-color: lightgray;
	padding: 5px;
  text-align: center;
}


.workarea {
    background-color: lightgray;
    height: 300px;
	padding: 5px;
}

.centerhead {
    text-align: center;
}

.readingscrollregion {
    height: 415px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: #dddddd;		
}

.msgscrollregion {
	height: 230px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: #dddddd;	
}

.sectiontext {
	font-weight: bold;
}

.scrollbar
{
	overflow-y: scroll;
	margin-bottom: 10px;
}

#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

#style-9::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}



.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

@media (max-width: 995px) {
  .examday-map-area {
    height: 300px;
  }
}
