  #background {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 0;
      opacity: 0.3;
  }
  .stretch {
      width: 100%;
      height: 100%;
      position: fixed;
  }
  .btn-info {
      background-color: #f05123;
      border-color: #ea4110;
  }
  .btn.active {
      background-color: #9eb231;
      color: white;
  }
  .readings-sample-btn {
      padding: 5px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #333;
      text-decoration: none;
  }
  label.active {
      font-weight: bold;
  }
  span.active {
      font-weight: bold;
  }
  a {
      color: #00A2DD;
      cursor: pointer;
  }
  a:hover {
      color: #006C99;
      text-decoration: none;
  }
  /*  mobile nav */
  
  @media (min-width: 990px) {
      .mobileIcons {
          display: none;
      }
      .mobileSearch {
          display: none;
      }
      .nav-item-area:hover {
          background: #e7e7e7;
      }
      .mobileUserAccount {
          display: none;
      }
      .myMessage {
          display: none;
      }
      .marginForPanelsProg {
          margin-bottom: 325px;
      }
  }
  @media (max-width: 500px) {
      #mobileNavBar {
          display: none;
      }
      #lowerNav {
          display: inline-flex;
          padding: 10px;
          margin-left: 50%;
          transform: translateX(-50%)
      }
      .view-container {
          margin-top: 165px;
      }
      .navbar-header .nav-item-icon {
          margin: 0;
      }
      .navbar-header .glyphicon {
          margin-top: 8.5px;
      }
      .navbar-header span {
          padding: 0 12px;
      }
      #logo {
          margin-left: 50%;
          transform: translateX(-50%)
      }
  }
  @media (min-width: 500px) {
      #lowerNav {
          display: none;
      }
      .view-container {
          margin-top: 115px;
      }
  }
  @media (max-width: 991px) {
      .navbar-header {
          float: none;
      }
      .navbar-toggle {
          display: block;
      }
      .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      }
      .navbar-collapse.collapse {
          display: none!important;
      }
      .navbar-nav {
          float: none!important;
          margin: 7.5px -15px;
      }
      .navbar-nav>li {
          float: none;
      }
      .navbar-nav>li>a {
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .mobileIcons {
          display: block;
          display: inline-flex;
          float: right;
          margin-top: -32px;
          padding: 5px;
      }
      .nav-item-icon {
          color: black;
          margin-right: 20px;
      }
      .nav-item-area:hover {
          background: white;
      }
      .mobileSearch {
          display: block;
      }
      .myMessage {
          display: block;
          word-wrap: break-word;
      }
      .marginForPanelsProg {
          margin-bottom: 60px;
      }
  }
  /* custom panels*/
  
  .panel {
      webkit-box-shadow: 0 3px 3px #cbd5d6 !important;
      -moz-box-shadow: 0 3px 3px #cbd5d6 !important;
      -ms-box-shadow: 0 3px 3px #cbd5d6 !important;
      -o-box-shadow: 0 3px 3px #cbd5d6 !important;
      box-shadow: 0 3px 3px #cbd5d6 !important;
      border: 0!important;
  }
  .panel-title {
      font-family: 'robotoslab_light', sans-serif!important;
  }
  .panel-primary > .panel-heading {
      padding-bottom: 10px;
      padding-top: 10px;
  }
  .columnsSplit {
      text-align: center;
      cursor: pointer;
      color: white!important;
      background: black;
      height: 30px;
      font-family: 'robotoslab_light', sans-serif!important;
      font-size: 18px;
  }
  .columnsSplit:hover {
      cursor: pointer;
      color: black!important;
      background: white;
  }
  /* Custom Classes */
  
  #myAccountUserImage {
      border-radius: 50%;
  }
  #userImage {
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }
  #userImageNav {
      border-radius: 50%;
      width: 35px;
      height: 35px;
  }
  .correctAnswerText {
      color: #b0c636;
  }
  .correctAnswer {
      background-color: #b0c636;
  }
  .incorrectAnswer {
      background-color: #F05123;
  }
  .flaggedQuestion {
      background-color: #00A2DD;
  }
  .skippedQuestion {
      background-color: #FDB515;
  }
  .exam-results-correct {
      display: inline-block;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background-color: #b0c636;
      color: #FFFFFF;
      padding-left: 10px;
      padding-top: 5px;
  }
  .exam-results-incorrect {
      display: inline-block;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background-color: #F05123;
      color: #FFFFFF;
      padding-left: 10px;
      padding-top: 5px;
  }
  .exam-results-skipped {
      display: inline-block;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background-color: #FDB515;
      color: #FFFFFF;
      padding-left: 10px;
      padding-top: 5px;
  }
  .exam-results-flagged {
      display: inline-block;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background-color: #00A2DD;
      color: #FFFFFF;
      padding-left: 10px;
      padding-top: 5px;
  }
  .examSiteSelected {
      background-color: #006C99;
  }
  .view-frame {
      height: 100%;
  }
  .nav-item-area {
      text-align: center;
  }
  .nav-right-area {
      margin-top: 5px;
  }
  .nav-item-icon {
      font-size: 18px;
      margin-top: 9px;
  }
  .nav-icon-search {
      padding-right: 10px;
      color: #FFFFFF;
  }
  .nav-photo {
      margin-top: 10px;
  }
  #mainnav-glossary {
      display: none;
  }
  .login-backdrop-top {
      width: 100%;
      height: 50%;
      min-height: 400px;
  }
  .login-backdrop-bottom {
      width: 100%;
      height: 50%;
      background-color: #CBD5D6;
  }
  .login-header-bar {
      background-color: #00A2DD;
      height: 15px;
  }
  .login-header-area {
      margin-top: 45px;
  }
  .dashboard > .panel-body > .progress-header-area {
      height: 120px;
  }
  .dashboard > .panel-body > .progress-header-area > .left {
      float: left;
  }
  .dashboard > .panel-body > .progress-header-area > .right {
      float: right;
  }
  .dashboard > .panel-body > .progress-header-area > .right > .daysleft {
      width: 200px;
      text-align: center;
  }
  .dashboard > .panel-body > .progress-header-area > .right > .daysleft > .days {
      position: relative;
      top: -29px;
      right: -69px;
      background-color: #eee;
      width: 38px;
      height: 21px;
  }
  .dashboard > .panel-body > .progress-header-area > .right > .daysleft > .days-until {
      position: relative;
      top: -23px;
  }
  .dashboard > .panel-body > .progress-header-area > .left > .user-image {
      float: left;
      width: 100px;
      height: 100px;
  }
  .dashboard-cal-icon {
      font-size: 50px;
  }
  .dashboard > .panel-body > .progress-progress-area {
      height: 75px;
  }
  .dashboard > .panel-body > .progress-progress-area > .text-area {
      height: 25px;
  }
  .dashboard > .panel-body > .progress-progress-area > .text-area > .text-left {
      float: left;
      margin-left: 5px;
  }
  .dashboard > .panel-body > .progress-progress-area > .text-area > .text-right {
      float: right;
      margin-right: 5px;
  }
  .panel-body.nopadding {
      padding: 0px;
      margin-bottom: 0px;
  }
  .list-group.nopadding {
      margin-bottom: 0px;
  }
  .list-group-item.divider {
      border: none;
      border-top: 1px solid #dddddd;
  }
  .list-group-item.nodivider {
      border: none;
  }
  .list-group-item > .lesson-item {
      height: 50px;
  }
  .list-group-item > .option-item {
      height: 50px;
  }
  .list-group-item > .lesson-item > .title {
      text-align: left;
  }
  .list-group-item > .lesson-item > .buttons {
      text-align: right;
  }
  .btn.btn-toggel {
      color: #ffffff;
      background-color: red;
  }
  .btn.btn-danger.active {
      color: #ffffff;
      background-color: #b0c636;
      border-color: #9eb231;
  }
  .highlight .panel-body {
      background-color: #FFFFFF;
      color: #000000;
  }
  .list-group-item > .message-item {
      overflow: auto;
  }
  .list-group-item > .message-item > .icon-area {
      float: left;
      padding-right: 5px;
  }
  .list-group-item > .message-item > .icon-area > .icon {
      font-size: 24px;
      color: #9DA7AE;
  }
  .list-group-item > .message-item > .subject {
      padding-left: 5px;
  }
  .list-group-item > .message-item > .date {
      padding-left: 5px;
  }
  .list-group-item > .reading-item {
      overflow: auto;
  }
  .list-group-item > .reading-item > .icon-area {
      float: left;
  }
  .list-group-item > .reading-item > .icon-area > .icon {
      border: 5px;
      border: 5px solid #9DA7AE;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #FFFFFF;
      padding-left: 7px;
      padding-top: 6px;
      color: #cbd4d6;
  }
  .list-group-item > .reading-item > .info {
      float: left;
      width: 80%;
      padding-left: 20px;
  }
  .list-group-item > .reading-item > .remove {
      float: right;
      color: #F05123
  }
  .list-group-item > .reading-item > .remove > a {
      color: #F05123
  }
  .list-group-item > .reading-item > .remove > a:hover {
      color: #C44826
  }
  .list-group-item > .reading-item > .info > p > a {
      color: #006C99 !important;
      font-weight: bold;
  }
  .list-group-item > .reading-item > .info > p > a:hover {
      color: #081A31 !important;
  }
  /* --- older --*/
  
  .footer-area {
      text-align: center;
  }
  .forget-password-area {
      padding-left: 0 !important;
  }
  .app-panel {
      background-color: #FFFFFF
  }
  .panel-info {
      margin: 10px;
  }
  .display-hidden {
      display: none;
  }
  .dashButtons {
      display: inherit;
  }
  .headerRowCol1 {
      display: none;
  }
  .large-glyphicon {
      font-size: 28px;
  }
  .examday-map-area {
      height: 500px;
  }
  .examday-info-area {
      padding: 10px;
      padding-top: 0px;
      background-color: #FFFFFF;
      border: 1px solid #006C99;
  }
  .nav-tabs {
      border-bottom: 1px solid #006C99;
  }
  .nav-tabs > li > a {
      background-color: #FFFFFF;
      color: black;
  }
  .nav-tabs > li > a:hover {
      background-color: #006C99;
      border: 1px solid #006C99;
      color: white;
  }
  .nav-tabs > li.active > a {
      background-color: #0E6386;
      border: 1px solid #0E6386;
      color: white;
  }
  .nav-tabs > li.active > a:hover {
      background-color: #006C99;
      border: 1px solid #006C99;
      color: white;
  }
  .examday-reminder-area {
      background-color: #FFFFFF;
  }
  .examday-info-label {
      font-weight: bold;
  }
  .examday-info > .icon-area {
      padding: 15px;
      float: left;
      padding-top: 6px;
  }
  .examday-info > .icon-area > .icon {
      border: 5px;
      border: 5px solid #9DA7AE;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #FFFFFF;
      padding-left: 7px;
      padding-top: 6px;
      color: #cbd4d6;
  }
  @media(max-width: 991px) {
      .examday-info > .icon-area {
          padding-top: 0px;
      }
  }
  .examday-tabs {} .add-reminder-area {} .exam-question-answer {
      margin: 10px;
  }
  .exam-question-heading-left {
      font-weight: bold;
      color: #000000;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .exam-question-heading-center {
      text-align: center;
      color: #000000;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .exam-question-heading-right {
      text-align: right;
      color: #000000;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .exam-question-heading {
      background-color: inherit !important;
  }
  .exam-question-heading-item {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
  }
  .exam-question-heading-item > a {
      color: #000000;
  }
  .exam-question-heading-item > a:hover {
      text-decoration: underline;
  }
  .exam-question-correct {
      display: inline-block;
      border-radius: 20px;
      width: 20px;
      height: 20px;
      background-color: #b0c636;
      color: #FFFFFF;
  }
  .exam-question-incorrect {
      display: inline-block;
      border-radius: 20px;
      width: 20px;
      height: 20px;
      background-color: #F05123;
      color: #FFFFFF;
  }
  .exam-question-skipped {
      display: inline-block;
      border-radius: 20px;
      width: 20px;
      height: 20px;
      background-color: #FDB515;
      color: #FFFFFF;
  }
  .exam-question-count-row {} .exam-question-count {
      font-weight: bold;
  }
  .exam-question {
      margin: 10px;
  }
  .exam-question-choices {
      margin: 10px;
  }
  .exam-question-choice {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
  }
  .exam-question-choice-text {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
  }
  .daysUntilHeader {
      background: #006c99;
      color: white;
      text-align: center;
      height: 45px;
      font-size: 25px;
  }
  .calDaysBody {
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      height: 225px;
  }
  .days {
      font-size: 100px;
      text-align: center;
  }
  .dayText {
      text-align: center;
      color: rgb(145, 144, 144);
      font-family: monospace;
  }
  .myaccount-map-area {
      height: 300px;
      border-radius: 6px;
      border: 1px solid black;
      margin: 15px;
  }
  .myaccount-settings .org {
      margin: 10px;
      text-align: center
  }
  .myaccount-continue {
      margin-right: 10px;
      margin-top: 10px;
  }
  .examsettings-options-heading {
      float: left;
      margin-left: 10px;
      height: 50px;
      margin-top: 10px;
  }
  .grey-image {
      opacity: 0.4;
  }
  .examsettings-options-input .btn-success.multicolor {
      color: #051e37;
      background-color: #a8acae;
      border-color: #a8acae;
  }
  .examsettings-options-input .btn-success.multicolor:hover,
  .btn-success.multicolor.active {
      color: #ffffff;
      background-color: #afc936;
  }
  .examsettings-options-input .btn-success.multicolor.on:hover,
  .btn-success.multicolor.on {
      color: #ffffff;
      background-color: #b0cb36;
  }
  .examsettings-options-input .btn-success.multicolor.on:hover,
  .btn-success.multicolor.on.active {
      color: #ffffff;
      background-color: #b0cb36;
  }
  .examsettings-options-input .btn-success.multicolor.off:hover,
  .btn-success.multicolor.off {
      color: #ffffff;
      background-color: red;
  }
  .examsettings-options-input .btn-success.multicolor.off:hover,
  .btn-success.multicolor.off.active {
      color: #ffffff;
      background-color: red;
  }
  .examsettings-options-topics {
      float: left;
      padding: 20px;
      margin-top: -5px;
  }
  .examsettings-options-topics-selectAll {
      clear: both;
  }
  .question_number-options {
      padding-left: 0;
      list-style: none;
      text-align: center;
  }
  .question_number-options li {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 10px;
      border: 3px solid #000000;
      border-radius: 50px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
  }
  .question_number-options li.active {
      background-color: #b0cb36;
  }
  .question_number-options li.active label {
      color: #ffffff;
  }
  .question_number-options li label {
      position: relative;
      top: 9px;
      font-size: 20px;
  }
  .examsettings-options-input {
      float: right;
      margin-right: 10px;
      height: 50px;
      margin-top: 10px;
  }
  .exam-setting-title {
      margin: 10px;
      padding: 10px;
      text-align: center;
  }
  .exam-setting {
      margin: 10px;
      padding: 10px;
      text-align: center;
      background-color: #e7e7e7;
      min-height: 75px;
  }
  .exam-setting-button {
      text-align: center;
      margin: 10px;
  }
  .exam-setting-on {
      background-color: lightblue;
  }
  .nav-footer-scroll-space {
      height: 100px;
      display: none;
  }
  .nav-footer {
      text-align: center;
      position: fixed;
      top: 0px;
      z-index: 1030;
      height: 75px;
      width: 100%;
      background-color: #181717;
      opacity: 0.6;
      filter: alpha(opacity=60);
      /* For IE8 and earlier */
  }
  .nav-footer-control {
      position: fixed;
      top: 0px;
      right: 0px;
      z-index: 1030;
      text-align: right;
      color: white;
  }
  .nav-footer-control-off-icon {
      color: white;
      font-size: 18px;
      margin-left: 10px;
      margin-top: 30px;
  }
  .nav-footer-control-off {
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 1030;
      height: 100px;
      width: 20px;
      background-color: #181717;
      opacity: 0.6;
      filter: alpha(opacity=60);
      /* For IE8 and earlier */
  }
  .nav-footer-control-off-text {
      margin-top: 40px;
      margin-left: 10px;
      font-size: 18px;
      color: white;
  }
  .nav-footer-control-off-bar {
      width: 4px;
      height: 2px;
      background-color: white;
      margin-left: 6px;
      margin-top: 5px;
      border-radius: 2px;
  }
  .nav-footer-item {
      border: 1px solid black;
      float: left;
      width: 25%;
      height: 100%;
      font-size: 18px;
      color: white;
  }
  .nav-footer-item-text {} .nav-footer-item-icon {
      font-size: 28px;
      margin-top: 5px;
  }
  .test-results-bottom-nav-area {
      margin: 10px;
  }
  .button-on {
      background-color: lightblue;
  }
  .readings-list-area {} .readings-title-area {
      float: left;
  }
  .readings-list-button-area {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .readings-filter {
      float: right;
  }
  .readings-filter-pills-text {
      margin-top: 15px;
      font-size: smaller;
  }
  .user-info-area {
      padding: 5px;
      margin: 0 auto;
      width: 230px;
      text-align: center;
  }
  .topicpanel-item-selected {
      border-left: 10px solid #dddddd;
  }
  .schedulebar {
      float: left;
  }
  .schedulebar-area {
      height: 60px;
      margin: 0 auto;
      overflow: hidden;
  }
  .schedulebar-block {
      border: 1px solid;
      float: left;
  }
  .schedulebar-item {
      width: 45px;
      height: 45px;
      float: left;
      margin-bottom: 15px;
      text-align: center;
  }
  .schedule-item-area {
      background-color: #000000;
      margin-top: 10px;
      height: 30px;
      padding: 5px;
      border: 1px solid;
      margin-right: 5px;
      margin-left: 5px;
  }
  .schedulebar-item-done {
      background-color: #dddddd;
  }
  .schedulebar-item-inProgress {
      background-color: #dddddd;
  }
  .schedulebar-item-selected {
      border: 2px solid;
      border-color: green;
  }
  .schedule-item-area:hover {
      background-color: gold
  }
  .schedulebar-item-active {
      background-color: green;
  }
  .schedulebar-item-text {} .schedulebar-path-area {
      margin-bottom: 5px;
  }
  .schedulebar-scroll-area {
      margin-top: 15px;
      width: 30px;
      height: 50px;
      text-align: center;
  }
  .schedulebar-scroll-left {
      float: left;
  }
  .schedulebar-scroll-right {
      float: right;
  }
  .photo-area {
      padding-right: 10px;
      float: left;
  }
  .photo {
      margin: 0 auto;
      width: 230px;
      margin-bottom: 5px;
  }
  .video-area {} .jplayer-advance-controls {} .jplayer-area {} .videoplayer {
      display: none;
      width: 300px;
  }
  .videoimage-controls-area {
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 200px;
  }
  .videoimage {
      position: relative;
  }
  .videoplaybutton {
      position: relative;
      top: -100px;
  }
  .videoplaybutton-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .login-area {
      width: 320px;
  }
  .login-area div {
      padding: 5px;
  }
  .login-buttons-username {
      padding-left: 20px;
  }
  .login-buttons {
      width: 290px;
      margin: 0 auto;
  }
  .login-header-area {
      text-align: center;
      padding-bottom: 20px;
  }
  .login-footer-area {
      text-align: center;
      padding-top: 20px;
  }
  .login-footer-area p {
      color: #000000;
  }
  .hoz-center {
      margin: 0 auto;
  }
  .text-center {
      text-align: center;
  }
  .reading-list-area {
      position: relative;
  }
  .spin-area {
      height: 400px;
      width: 100%;
      position: absolute;
  }
  .reading-item-left {
      float: left;
  }
  .reading-item-right {
      float: right;
  }
  .readings-list-item {
      min-height: 50px;
  }
  .reading-list-button {
      margin-top: 1px;
  }
  .examname {} .addBorder {
      border: 1px solid;
      border-color: #dddddd;
  }
  .reading-done {
      background-color: #e7e7e7;
  }
  .msgread {
      background-color: pink;
  }
  .msg-urgent {
      float: left;
      height: 50px;
      width: 20px;
  }
  .msg-header {
      height: 50px;
  }
  .msg-body-closed {
      display: none;
  }
  .msg-body-open {
      display: inline;
  }
  .flagtestarea {
      padding: 5px;
      height: 90px;
      margin-top: 10px;
  }
  .flagarea {
      background-color: #006385;
      float: left;
      width: 47%;
      margin: 5px;
      color: #FFFFFF;
  }
  .testarea {
      background-color: #006385;
      float: right;
      width: 47%;
      margin: 5px;
      color: #FFFFFF;
  }
  .messagearea {
      margin-top: 20px;
  }
  .daysarea {
      background-color: #006385;
      height: 100px;
      color: #FFFFFF;
  }
  .daysarea:active,
  .flagarea:active,
  .testarea:active,
  .btn:active,
  .schedulebar-scroll-left:active,
  .schedulebar-scroll-right:active {
      background-color: lightblue;
  }
  .daysleft {
      float: left;
      padding: 10px;
  }
  .daysright {
      margin-right: 15px;
      margin-top: 35px;
      background-color: #006385;
      float: right;
      color: #FFFFFF;
  }
  .workhead {
      background-color: #006385;
      padding: 5px;
      text-align: center;
      color: #FFFFFF;
  }
  .workarea {
      background-color: #006385;
      height: 300px;
      padding: 5px;
      color: #FFFFFF;
  }
  .centerhead {
      text-align: center;
  }
  .readingscrollregion {
      height: 415px;
      border-bottom: 1px solid;
      border-left: 1px solid;
      border-color: #dddddd;
  }
  .msgscrollregion {
      height: 230px;
      border-bottom: 1px solid;
      border-left: 1px solid;
      border-color: #dddddd;
  }
  .sectiontext {
      font-weight: bold;
  }
  .scrollbar {
      overflow-y: scroll;
      margin-bottom: 10px;
  }
  #style-2::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
  }
  #style-2::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
  }
  #style-2::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: lightgray;
  }
  .animate-enter,
  .animate-leave {
      -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      position: relative;
      display: block;
  }
  .animate-enter.animate-enter-active,
  .animate-leave {
      opacity: 1;
      top: 0;
      height: 30px;
  }
  .animate-leave.animate-leave-active,
  .animate-enter {
      opacity: 0;
      top: -50px;
      height: 0px;
  }
  @media (max-height: 750px) {
      .btn-default {
          padding: 10px 16px;
          font-size: 18px;
          line-height: 1.33;
          border-radius: 6px;
      }
      .schedulebar-item {
          width: 65px;
          height: 75px;
          float: left;
          margin-bottom: 15px;
          text-align: center;
      }
      .schedule-item-area {
          height: 45px;
      }
      .schedulebar-area {
          height: 75px;
      }
      .schedulebar-scroll-area {
          margin-top: 25px;
          height: 75px;
          width: 50px;
      }
      .btn-xs {
          padding: 5px 10px;
      }
      .panel-heading {
          padding: 20px 15px;
      }
      .schedulebar-item-text {
          font-size: 18px;
          margin-top: 5px;
      }
  }
  .exam-question img {
      max-width: 100%;
      height: auto;
  }
  #exam-modal-reason img {
      max-width: 100%;
      height: auto;
  }
  .moveIcon {
      margin-top: 6px;
  }
  .inboxIcon,
  .glyphicon-inbox {
      color: red;
  }
  .inboxIcon,
  .glyphicon-inbox:hover {
      color: black;
  }
  @media (max-width: 400px) {
      .reading-list-button {
          display: none;
      }
      .icon-area {
          display: none;
      }
      .btn .badge {
          top: -4px;
      }
  }
  .flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
  }
  @media (max-width: 330px) {
      .login-area {
          width: inherit;
      }
      .login-buttons {
          width: inherit;
          margin: 0 auto;
      }
  }
  @media (max-width: 995px) {
      #mainnav-glossary {
          display: inline;
      }
      .navbar-form {
          display: none !important;
      }
      .exam-question-heading-left {
          text-align: center;
      }
      .exam-question-heading-center {
          text-align: center;
      }
      .exam-question-heading-right {
          text-align: center;
      }
      .messagearea {
          display: none;
      }
      .readings-area {
          padding-bottom: 100px;
      }
      .dashButtons {
          display: none;
      }
      .headerRowCol1 {
          display: inherit;
      }
      .examday-map-area {
          height: 300px;
      }
      .btn-default {
          padding: 10px 16px;
          font-size: 18px;
          line-height: 1.33;
          border-radius: 6px;
      }
      .schedulebar-item {
          border-right: 1pt solid;
          width: 65px;
          height: 75px;
          float: left;
          margin-bottom: 15px;
          text-align: center;
      }
      .schedulebar-area {
          height: 75px;
      }
      .schedule-item-area {
          height: 45px;
      }
      .schedulebar-scroll-area {
          margin-top: 25px;
          height: 75px;
          width: 50px;
      }
      .btn-xs {
          padding: 5px 10px;
      }
      .panel-heading {
          padding: 20px 15px;
      }
      .schedulebar-item-text {
          font-size: 18px;
          margin-top: 5px;
      }
      .readingscrollregion {
          height: inherit;
          border-bottom: 0px solid;
          border-left: 0px solid;
          border-color: #ffffff;
      }
      .scrollbar {
          overflow-y: inherit;
          margin-bottom: 10px;
      }
  }
  @font-face {
      font-family: 'opensans_light';
      src: url('../fonts/open-sans/opensans_light/OpenSans-Light.eot');
      src: url('../fonts/open-sans/opensans_light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/opensans_light/OpenSans-Light.svg#OpenSans-Light') format('svg'), url('../fonts/open-sans/opensans_light/OpenSans-Light.woff') format('woff'), url('../fonts/open-sans/opensans_light/OpenSans-Light.ttf') format('truetype');
      font-weight: normal;
      font-style: normal
  }
  @font-face {
      font-family: 'opensans_regular';
      src: url('../fonts/open-sans/opensans_regular/OpenSans-Regular.eot');
      src: url('../fonts/open-sans/opensans_regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/opensans_regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg'), url('../fonts/open-sans/opensans_regular/OpenSans-Regular.woff') format('woff'), url('../fonts/open-sans/opensans_regular/OpenSans-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal
  }
  @font-face {
      font-family: 'opensans_semibold';
      src: url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold.eot');
      src: url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'), url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold.woff') format('woff'), url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold.ttf') format('truetype');
      font-weight: normal;
      font-style: normal
  }
  @font-face {
      font-family: 'opensans_bold';
      src: url('../fonts/open-sans/opensans_bold/OpenSans-Bold.eot');
      src: url('../fonts/open-sans/opensans_bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../open-sans/opensans_bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg'), url('../fonts/open-sans/opensans_bold/OpenSans-Bold.woff') format('woff'), url('../open-sans/opensans_bold/OpenSans-Bold.ttf') format('truetype');
      font-weight: normal;
      font-style: normal
  }
  @font-face {
      font-family: 'robotoslab_light';
      src: url('../fonts/roboto-slab/robotoslab_light/RobotoSlab-Light.eot');
      src: url('../fonts/roboto-slab/robotoslab_light/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-slab/robotoslab_light/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg'), url('../fonts/roboto-slab/robotoslab_light/RobotoSlab-Light.woff') format('woff'), url('../fonts/roboto-slab/robotoslab_light/RobotoSlab-Light.ttf') format('truetype');
      font-weight: normal;
      font-style: normal
  }
  [ng\:cloak],
  [ng-cloak],
  [data-ng-cloak],
  [x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak {
      display: none !important
  }
  .cyan {
      color: #00a2dd !important
  }
  .dark-blue {
      color: #081a31 !important
  }
  .light-grey {
      color: #cbd5d6 !important
  }
  .medium-grey {
      color: #9da7ae !important
  }
  .dark-cyan {
      color: #006c99 !important
  }
  .dark-gray {
      color: #333332 !important
  }
  .saffron {
      color: #fdb515 !important
  }
  .dark-saffron {
      color: #ce9126 !important
  }
  .viridian {
      color: #00ab91 !important
  }
  .dark-viridian {
      color: #00876e !important
  }
  .vermillion {
      color: #f05123 !important
  }
  .dark-vermillion {
      color: #c44826 !important
  }
  .chartreuse {
      color: #b0c636 !important
  }
  .dark-chartreuse {
      color: #849c3a !important
  }
  .fuschia {
      color: #b8258f !important
  }
  .dark-fuschia {
      color: #7f236e !important
  }
  .btn-xl {
      padding: 1em 3em
  }
  .btn-cyan {
      background-color: #00a2dd;
      color: white
  }
  .btn-cyan:hover,
  .btn-cyan:active,
  .btn-cyan:focus {
      background-color: #006c99;
      color: white
  }
  .btn-chartreuse {
      background-color: #849c3a
  }
  .btn-chartreuse:hover,
  .btn-chartreuse:active,
  .btn-chartreuse:focus {
      background-color: #b0c636
  }
  .ftr-include {
      clear: both
  }
  body {
      font-family: 'opensans_regular', Arial, sans-serif;
      font-weight: normal;
      margin: 0 auto;
      color: #333332
  }
  body h1,
  body h2,
  body h3,
  body P {
      margin-top: 2%;
      margin-bottom: 2%
  }
  body h1 {
      font-family: 'robotoslab_light', Arial, sans-serif;
      font-size: 3.5em
  }
  body h2 {
      font-family: 'robotoslab_light', Arial, sans-serif;
      font-size: 2em
  }
  body h3 {
      font-family: 'opensans_semibold', Arial, sans-serif;
      font-size: 1.25em
  }
  body p {
      line-height: 1.75em;
      letter-spacing: 1px
  }
  body strong {
      font-family: 'opensans_semibold', Arial, sans-serif
  }
  body a:link,
  body a:visited,
  body a:hover,
  body a:active,
  body a:focus {
      color: #00a2dd;
      outline: 0
  }
  body ul li {
      font-size: 1em;
      list-style-type: none
  }
  body .Lead-Margin {
      margin-top: 4em
  }
  body .Lead h1 {
      font-size: 3.5em;
      margin-top: 60px
  }
  body .Lead p {
      letter-spacing: 1px;
      font-size: 1.125em;
      line-height: 1.50em;
      margin: 2% auto;
      color: white
  }
  body .Lead a {
      margin: 1em
  }
  body div.content-block {
      width: 100%;
      padding: 4% 4%;
      text-align: center
  }
  body div.content-block-left {
      padding: 4% 4%;
      text-align: left
  }
  body div.section-arrow {
      font-size: 2.5em;
      position: fixed;
      top: 85%;
      left: 94%;
      text-decoration: none;
      z-index: 10000;
      cursor: pointer
  }
  body .tooltip-arrow {
      width: 0!important;
      height: 0!important;
      border-top: 5px solid transparent!important;
      border-bottom: 5px solid transparent!important;
      border-left: 5px solid #00a2dd !important
  }
  body .tooltip-inner {
      background-color: #00a2dd;
      min-width: 200px;
      color: #F8F8F8;
      position: relative;
      top: 0px;
      left: 2px
  }
  body div.scroll-section {
      padding: 4em auto;
      width: 100%;
      position: relative
  }
  body span.cyan-divider {
      display: block;
      clear: both;
      height: 3px;
      width: 50px;
      background-color: #00a2dd;
      margin: 3% auto
  }
  body label {
      color: #333332
  }
  body label.valError {
      color: red
  }
  body input[type="text"],
  body input[type="password"],
  body input[type="email"],
  body textarea {
      color: #666
  }
  body input[type="search"] {
      -moz-appearance: caret
  }
  body .form-control::-moz-placeholder {
      color: #666
  }
  body .form-control::-webkit-input-placeholder {
      color: #666
  }
  body .form-control::-moz-placeholder {
      color: #666
  }
  body .form-control::-ms-input-placeholder {
      color: #666
  }
  body .garp-btn-blue,
  body .garp-btn-green,
  body .garp-btn-orange {
      color: white;
      -webkit-opacity: .8;
      -moz-opacity: .8;
      opacity: .8;
      margin: 1.5em auto;
      -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
      filter: alpha(opacity=75)
  }
  body .garp-btn-blue:hover,
  body .garp-btn-green:hover,
  body .garp-btn-orange:hover,
  body .garp-btn-blue:focus,
  body .garp-btn-green:focus,
  body .garp-btn-orange:focus,
  body .garp-btn-blue:active,
  body .garp-btn-green:active,
  body .garp-btn-orange:active {
      -webkit-opacity: 100;
      -moz-opacity: 100;
      opacity: 100;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
      filter: alpha(opacity=100);
      outline: 0
  }
  body .garp-btn-blue {
      background-color: #081a31;
      border: 1px solid #00a2dd
  }
  body .garp-btn-blue:hover,
  body .garp-btn-blue:focus {
      color: #fdb515;
      border: 1px solid #fdb515
  }
  body .garp-btn-green {
      background-color: #849c3a;
      border: 1px solid white
  }
  body .garp-btn-green:hover,
  body .garp-btn-green:focus {
      color: white;
      border: 1px solid white
  }
  body .garp-btn-orange {
      background-color: #081a31;
      border: 1px solid #00a2dd
  }
  body .garp-btn-orange:hover,
  body .garp-btn-orange:focus {
      color: #f05123;
      border: 1px solid #f05123
  }
  body .garp-btn-white {
      background-image: url('../img/bg/light_noise_diagonal.png');
      background-position: center center!important;
      background-repeat: repeat;
      border: 1px solid #00a2dd;
      margin: 1.5em 0;
      color: #00a2dd
  }
  body .garp-btn-white:hover {
      background-image: none;
      background-color: white;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      transition: all 1s ease
  }
  body .garp-btn-white.active:hover {
      background-image: none;
      background-color: #849c3a;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      transition: all 1s ease
  }
  html {
      text-rendering: optimizeLegibility !important;
      -webkit-font-smoothing: antialiased !important
  }
  @media (max-width: 1199px) {
      ul.section-markers {
          left: 91%
      }
  }
  @media (max-width: 767px) {
      h1 {
          font-size: 2em!important
      }
  }
  @media (max-width: 480px) {
      .btn {
          padding: .75em;
          font-size: 1em;
          width: 100%
      }
      .content-block {
          margin: 5% 0
      }
      h1 {
          font-size: 1.5em!important
      }
      p {
          font-size: .90em!important
      }
      #myScrollspy {
          display: hidden
      }
  }
  html[data-useragent*='MSIE 10.0'] body div.frm-program,
  html[data-useragent*='MSIE 9.0'] body div.frm-program,
  html[data-useragent*='MSIE 8.0'] body div.frm-program {
      background: url('../home/img/Assoc-HP-FRM-Thumbnail.jpg')
  }
  html[data-useragent*='MSIE 10.0'] body div.erp-program,
  html[data-useragent*='MSIE 9.0'] body div.erp-program,
  html[data-useragent*='MSIE 8.0'] body div.erp-program {
      background: url('../home/img/Assoc-HP-ERP-Thumbnail.jpg')
  }
  html[data-useragent*='MSIE 10.0'] body div.membership,
  html[data-useragent*='MSIE 9.0'] body div.membership,
  html[data-useragent*='MSIE 8.0'] body div.membership {
      background: url('../home/img/Assoc-HP-Membership-Thumbnail.jpg')
  }
  #assoc_main {
      background-position: center top!important;
      background-image: url('../home/img/bg/Assoc_HP_493565409.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: 100
  }
  #assoc_programs {
      background-color: white;
      margin-top: 2em;
      margin-bottom: 2em;
      padding-top: 20px
  }
  #assoc_programs .frm-program,
  #assoc_programs .erp-program,
  #assoc_programs .membership {
      display: block;
      min-height: 200px;
      background-size: cover;
      margin-top: 1em;
      padding: 0;
      background-position: top center!important;
      text-align: center;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.3) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.3) inset;
      -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.3) inset;
      -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.3) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.3) inset
  }
  #assoc_programs .frm-program h3,
  #assoc_programs .erp-program h3,
  #assoc_programs .membership h3 {
      font-family: opensans_regular;
      font-size: 18px;
      margin: 0;
      padding: .75em;
      color: white
  }
  #assoc_programs .frm-program p,
  #assoc_programs .erp-program p,
  #assoc_programs .membership p {
      font-family: 'opensans_light', Arial, sans-serif;
      color: white!important;
      padding: 1.5em 2em
  }
  #assoc_programs .frm-program a,
  #assoc_programs .erp-program a,
  #assoc_programs .membership a {
      font-family: 'opensans_regular', Arial, sans-serif
  }
  #assoc_programs .frm-program {
      background: url('../home/img/Assoc-HP-FRM-Thumbnail.jpg')
  }
  #assoc_programs .frm-program h3 {
      background-color: #006c99
  }
  #assoc_programs .erp-program {
      background: url('../home/img/Assoc-HP-ERP-Thumbnail.jpg')
  }
  #assoc_programs .erp-program h3 {
      background-color: #00876e
  }
  #assoc_programs .membership {
      background: url('../home/img/Assoc-HP-Membership-Thumbnail.jpg')
  }
  #assoc_programs .membership h3 {
      background-color: #7f236e
  }
  #mid-section h5,
  #news-section h5,
  #mid-section h4,
  #news-section h4,
  #mid-section h3,
  #news-section h3,
  #mid-section p,
  #news-section p {
      color: #333332
  }
  #mid-section h4,
  #news-section h4 {
      font-weight: normal
  }
  #mid-section p,
  #news-section p {
      letter-spacing: 0
  }
  #mid-section {
      background-color: white;
      clear: both
  }
  #mid-section .container {
      background-color: white;
      padding: 0
  }
  #mid-section .mid-box {
      display: block;
      z-index: 100;
      padding: 1.5em 3em
  }
  #mid-section hr {
      border-top: 1px solid #cbd5d6;
      display: inline-block;
      width: 100%;
      height: 1px;
      margin: 1em 0
  }
  #news-section {
      background-image: url('../img/bg/light_noise_diagonal.png');
      background-position: center center!important;
      background-repeat: repeat;
      clear: both;
      padding: 4em 0;
      border-top: 1px solid #cbd5d6
  }
  @media (max-width: 1199px) {
      #assoc_main span.lg-quote {
          display: none
      }
  }
  @media (max-width: 767px) {
      #assoc_main h1 {
          width: 90%;
          margin: 0 auto
      }
  }
  @media (max-device-width: 1023px) and (orientation: landscape) {
      #assoc_main {
          background-attachment: scroll!important
      }
  }
  @media (max-device-width: 768px) and (orientation: portrait) {
      #assoc_main {
          background-attachment: scroll!important
      }
  }
  @media (max-width: 480px) {
      #assoc_main h1 {
          width: 90%;
          margin: 0 auto
      }
      #assoc_main p {
          margin-top: 5%
      }
  }